/* Submarine Animation CSS */
/* Converted from SCSS variables and nesting */

:root {
    --sub-color1: #306D85;
    --sub-color2: #F97316;
    /* Using theme orange instead of red #D93A54 */
    --sub-color2-dark: #cc5a0e;
    --sub-color1-light: #5f9aad;
    --sub-color1-dark: #1b4d61;
}

.sea {
    margin: 40px auto 0 auto;
    overflow: hidden;
    position: relative;
    /* Ensure relative positioning for contained absolute children */
}

.sea .bubble {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: var(--sub-color1-light);
    opacity: 0.9;
    animation: bubble1-h-movement 1s ease-in infinite, bubble1-v-movement 300ms ease-in-out infinite alternate, bubble-scale-movement 300ms ease-in-out infinite alternate;
}

.sea .bubble:after {
    position: absolute;
    content: "";
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: var(--sub-color1-light);
    opacity: 0.9;
    top: -20px;
    left: 100px;
}

.sea .circle-wrapper {
    position: relative;
    background: linear-gradient(var(--sub-color1-dark), #0f172a);
    /* Blend to dark background */
    width: 300px;
    height: 300px;
    margin: 10px auto 0 auto;
    overflow: hidden;
    z-index: 0;
    border-radius: 50%;
    padding: 0 50px 0 50px;
    border: 6px solid #4a869e;
}

.sea .submarine-wrapper {
    height: 300px;
    width: 300px;
    padding: 30px 50px 30px 150px;
    margin: 0 auto 0 auto;
    animation: diving 3s ease-in-out infinite, diving-rotate 3s ease-in-out infinite;
}

.sea .submarine-wrapper .submarine-body {
    width: 150px;
    height: 80px;
    position: absolute;
    margin-top: 50px;
    left: 25px;
    background-color: var(--sub-color2);
    border-radius: 40px;
    background: linear-gradient(var(--sub-color2), var(--sub-color2-dark));
}

.sea .submarine-wrapper .submarine-body .light {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 40px 150px 40px;
    border-color: transparent transparent rgba(255, 255, 255, 0.1) transparent;
    /* Using transparent white for light beam */
    transform: rotate(-50deg);
    top: 40px;
    left: 99%;
}

.sea .submarine-wrapper .submarine-body .light:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 13px;
    border-radius: 5px;
    background-color: var(--sub-color2-dark);
    margin-left: -10px;
    top: -150px;
    /* Adjusted position relative to light triangle */
    left: 0;
}

.sea .submarine-wrapper .submarine-body .window {
    width: 37px;
    height: 37px;
    position: absolute;
    margin-top: 23px;
    right: 18px;
    background: linear-gradient(#1e3b4d, #142834);
    border-radius: 50%;
    border: 3px solid var(--sub-color2);
}

.sea .submarine-wrapper .submarine-body .window:after {
    content: "";
    position: absolute;
    margin-top: 3px;
    margin-left: 3px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: transparent;
    opacity: 0.8;
    border-top: 3px solid white;
    transform: rotate(-45deg);
}

.sea .submarine-wrapper .submarine-body .engine {
    width: 30px;
    height: 30px;
    position: absolute;
    margin-top: 32px;
    left: 53px;
    background-color: var(--sub-color2-dark);
    border-radius: 50%;
    border: 5px solid var(--sub-color2);
}

.sea .submarine-wrapper .submarine-body .engine:after,
.sea .submarine-wrapper .submarine-body .engine:before {
    position: absolute;
    content: "";
    border-radius: 2px;
    background-color: white;
    animation: spin 900ms linear infinite;
    opacity: 0.8;
}

.sea .submarine-wrapper .submarine-body .engine:after {
    top: 8px;
    width: 20px;
    height: 4px;
    left: 0;
}

.sea .submarine-wrapper .submarine-body .engine:before {
    left: 8px;
    width: 4px;
    height: 20px;
    top: 0;
}

.sea .submarine-wrapper .helix {
    width: 30px;
    height: 70px;
    position: absolute;
    margin-top: 55px;
    left: 0;
    background-color: var(--sub-color2);
    border-radius: 7px;
    background: linear-gradient(var(--sub-color2), var(--sub-color2-dark));
}

.sea .submarine-wrapper .helix:after {
    content: "";
    position: absolute;
    margin-top: 5px;
    margin-left: 7px;
    width: 17px;
    height: 60px;
    border-radius: 3px;
    background-color: transparent;
    opacity: 0.8;
    background: linear-gradient(to bottom,
            var(--sub-color2),
            var(--sub-color2) 50%,
            #ffaf7a 50%,
            #ffaf7a);
    background-size: 100% 20px;
    animation: helix-movement 110ms linear infinite;
}

.sea .submarine-wrapper .hat {
    width: 65px;
    height: 25px;
    position: absolute;
    margin-top: 26px;
    left: 70px;
    background-color: var(--sub-color2);
    border-radius: 10px 10px 0 0;
    background: linear-gradient(var(--sub-color2), var(--sub-color2-dark));
}

.sea .submarine-wrapper .hat .periscope {
    position: absolute;
    width: 7px;
    height: 20px;
    background-color: var(--sub-color2);
    margin-top: -27px;
    margin-left: 32px;
    border-radius: 5px 5px 0 0;
}

.sea .submarine-wrapper .hat .periscope:after,
.sea .submarine-wrapper .hat .periscope:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 7px;
    border-radius: 5px;
    background-color: var(--sub-color2);
}

.sea .submarine-wrapper .hat .leds-wrapper {
    width: 53px;
    height: 13px;
    position: relative;
    top: 7px;
    left: 7px;
    background-color: var(--sub-color2);
    border-radius: 10px;
    background: linear-gradient(var(--sub-color2-dark), #943d03);
}

.sea .submarine-wrapper .hat .leds-wrapper .leds {
    position: absolute;
    margin-top: 4px;
    margin-left: 7px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: white;
    animation: leds-off 500ms linear infinite;
}

.sea .submarine-wrapper .hat .leds-wrapper .leds:after,
.sea .submarine-wrapper .hat .leds-wrapper .leds:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: white;
}

.sea .submarine-wrapper .hat .leds-wrapper .leds:after {
    margin-top: 0px;
    margin-left: 17px;
}

.sea .submarine-wrapper .hat .leds-wrapper .leds:before {
    margin-top: 0px;
    margin-left: 34px;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes leds-off {
    100% {
        opacity: 0.3;
    }
}

@keyframes helix-movement {
    100% {
        background: linear-gradient(to bottom,
                #ffaf7a 50%,
                #ffaf7a,
                var(--sub-color2),
                var(--sub-color2) 50%);
        background-size: 100% 20px;
    }
}

@keyframes diving {
    0% {
        margin-top: 5px;
    }

    50% {
        margin-top: 15px;
    }

    100% {
        margin-top: 5px;
    }
}

@keyframes diving-rotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(3deg);
    }

    75% {
        transform: rotate(-2deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes bubble1-h-movement {
    0% {
        margin-left: 80%;
    }

    100% {
        margin-left: -100%;
    }
}

@keyframes bubble1-v-movement {
    0% {
        margin-top: 115px;
    }

    100% {
        margin-top: 160px;
    }
}

@keyframes bubble-scale-movement {
    0% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(0.9);
    }
}